body {
    font-family: 'Arial',sans-serif;
    margin: 0px;
    padding: 0px;
}

.container {
    width: 870px;
    height: 600px;
    background-color: white;
    justify-content: center;
    align-content: center;
    padding: 0px;
    margin-top: 25px;
}

.header {
    padding: 0px;
    margin: 0px;
    width:870px;
    height: 140px;
    text-align: center;
}

.d-block {
    padding: 0;
    margin: 0;
}

.news_feed {
    position: relative;
    text-align: left;
    color: black;
    margin:0;
    padding: 0px;
    width: 180px;
    height: 308px;
    overflow-x: hidden;
    overflow-y: auto;
    background-image: url("images/nav_side_sub.jpg");
}

#news_feed_title {
    padding-top: 4px;
    padding-left: 4px;
    padding-right: 4px;
    padding-bottom:0;
    height: 15px;
    color: white;
}

#news_feed_bar {
    margin: 0 auto;
    padding-top: 0px;
    padding-left: 4px;
    padding-right: 4px;
    padding-bottom:0;
    height:2px;
    background-color:white;
}

#news_feed_paragraph {
    padding-top: 4px;
    padding-left: 4px;
    padding-right: 4px;
    padding-bottom:4;
    font-size: 9pt;
    color: white;
}

#salutations {
    font-size: 7pt;
    margin-left: 5px;
    padding: 0;
    height: 65px;
    text-align: left;
    line-height: 1;
    color: black;
}

#address {
    margin-top: 0px;
    font-size: 7pt;
    width: 180px;
    height: 65px;
    text-align: left;
    color: black;
}

#welcome {
    margin-bottom: 0;
    margin-top: 15px;
    margin-left: 5px;
}

#text {
    margin-top: 15px;
    margin-left: 5px;
}

#address1 {
    margin-top: 15px;
    margin-left: 5px;
    line-height: 0.05;
}
#address2 {
    margin-top: 0px;
    margin-left: 5px;
    line-height: 0.05;
}
#ph1 {
    margin-top: 0px;
    margin-left: 5px;
    line-height: 0.05;
}
#ph2 {
    margin-top: 0px;
    margin-left: 5px;
    line-height: 0.05;
}