* {
  padding: 0;
  margin: 0;
}
.container-fluid img {
  object-fit: cover;
}
.container-fluid {
  padding: 0;
  margin: 0;
  background-image: url(images/nza_background.jpg);
  width: 100vw;
  height: 100vh;
  background-position: center;
  object-fit: contain;
  overflow: hidden;
  justify-content: center;
}
.container {
  background-color: white;
  justify-content: center;
  align-content: stretch;
  padding-top: 40px;
  height: 700px;
}
.row {
  background-color: white;
  justify-content: center;
  align-content: center;
  padding-top: 40px;
  overflow: hidden;
}
p {
  font-weight: 450;
}
/* What We Do Section */
#col1 {
  background-image: url(images/nav_side_sub.jpg);
  background-size: contain;
  overflow: hidden;
  max-width: 18%;
  height: 50.8vh;
  background-position: center;
  justify-content: flex-start;
  overflow: hidden;
}
#col2 {
  padding: 0;
  margin: 0;
}
.whatwedo {
  width: 100vw;
  height: 100vh;
}
.whatwedo-list {
  color: white;
  overflow: hidden;
  background-size: cover;
  background-position: center;
}
.whatwedo-list h3 {
  padding-top: 20px;
  overflow: hidden;
  background-size: cover;
}

.whatwedo-list li {
  list-style: none;
  overflow: hidden;
  background-size: cover;
}
.whatwedo-list p {
  overflow: hidden;
  background-size: cover;
}
.whatwedo-list img {
  padding-left: 8px;
  width: 100%;
  padding-bottom: 2px;
}
.whatwedo-side2 {
  padding-left: 20px;
}
.card {
  padding: 20px;
  border: none;
}

/* Where We Work Section */
.wherewework {
  width: 80vw;
  height: 80vh;
}
.wherewework-list {
  color: white;
  overflow: hidden;
  background-size: cover;
  margin-top: 50px;
}
.wherewework-list h3 {
  padding-top: 20px;
  overflow: hidden;
  background-size: cover;
}

.wherewework-list li {
  list-style: none;
  overflow: hidden;
  background-size: cover;
}
.wherewework-list p {
  overflow: hidden;
  background-size: cover;
}
.wherewework-list img {
  padding-left: 8px;
  width: 100%;
  padding-bottom: 2px;
}
.wherewework-side2 {
  padding-left: 20px;
}
.wherewework-list a {
  text-decoration: none;
  color: white;
  cursor: pointer;
}
.wherewework-list a:hover {
  color: rgb(231, 50, 111);
}
.state13 p {
  font-weight: bold;
}
.state13 hr {
  position: relative;
  border: none;
  height: 3px;
  background: grey;
}
.state13 ul {
  padding: 0;
  margin: 0;
}
.state13 li {
  list-style: none;
}
.international p {
  font-weight: bold;
}
.international hr {
  position: relative;
  border: none;
  height: 3px;
  background: grey;
}

.international ul {
  padding: 0;
  margin: 0;
}
.international li {
  list-style: none;
}

/* Nav Bar and Footer */
.navbar .navbar-nav .nav-link:hover {
  color: #000000;
  background-color: ivory;
}
.navbar .navbar-nav .nav-item:not(:last-child) .nav-link {
  border-right: 1px solid #5f5f5f;
}
.navbar .navbar-nav {
  border-top: 1.5px solid #000;
  border-bottom: 1.5px solid #000;
}

.footer .navbar .navbar-nav {
  border-top: 1.5px solid #000;
  border-bottom: none;
}
.footer .navbar .navbar-nav .nav-link {
  color: #242323;
  font-size: 0.75em;
  text-align: center;
  margin-top: 10%;
  margin-bottom: 10%;
  align-content: center;
  justify-content: center;
}
.footer .navbar .navbar-nav .nav-item:not(:last-child) .nav-link {
  border-right: none;
}
